

.star{
  box-sizing: border-box;
  padding-right: 5px;
  display: inline-block;

}

.filled{
  svg{
    fill:var(--primary);
  }

}

.iconContainer{
  padding-right: 5px;
}

.editable{

    cursor: pointer;


}
