.footer {
  padding: 25px 30px;
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  gap: 10px 40px;
  grid-area: footer;
  display: grid;
  background: var(--primary);
  grid-template-columns: 1fr;
  @media(min-width: 768px) {
    grid-template-columns: 1fr auto auto;
  }

  a:hover {
    color: var(--gray-light);
  }
}